@font-face {
    font-family: bebas;
    src: url('../font/Bebas-Regular.otf');
}

.form{
    width: 80%;
    padding: 1rem;
    margin: 4rem auto;
    background-color: #fff;
}

.form-title--box{
    margin: 2rem 0 0 0;
    text-align: center;
}

hr{
    width: 80%;
    margin: 1rem auto;
    border: 1px solid #000;
}

.form-title--box h2{
    font-size: 40px;
    font-family: bebas;
}

.form-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 2rem 0;
    padding: 0.5rem 1rem;
    text-align: center;
}

label{
    margin-bottom: 0.5rem;
    font-size: 20px;
    font-family: bebas;
    font-weight: 700;
}

input{
    width: 40%;
    margin: auto;
    padding: 0.7rem;
    text-align: center;
    border: none;
    background-color: #E6E6E6;
    font-size: 16px;
}

input:focus{
    outline: none;
}

::placeholder{
    font-size: 16px;
    font-weight: 700;
}

.btn-box{
    display: flex;
    justify-content: space-around;
    margin: 1rem auto;
}

button{
    width: 30%;
    margin: auto;
    padding: 0.2rem;
    transition: 0.5s;
    cursor: pointer;
    border: none;
    font-weight: bold;
    font-family: bebas;
    font-size: 25px;
    background-color: #000;
    color: #fff;
}

button:hover{
    scale: 105%;
    background-color: #282828;
}

#clear{
    background-color: #0088ff;
    border: none;
}

.result-container{
    width: 80%;
    margin: auto;
    text-align: center;
}

.result-container h3{
    margin: 1.5rem 0;
}

.result-final{
    width: 30%;
    margin: auto;
    padding: 0.5rem;
    font-size: 35px;
    background-color: #EFFE62;
}

.alert-box{
    margin: 2rem;
    font-size: 20px;
    font-weight: bold;
}


@media screen and (max-width: 499px) {
    button{
        width: 30%;
        font-size: 20px;
    }
}

@media (min-width: 500px) and (max-width: 949px) {
    .form{
      width: 80%;
    }

    .form-title--box h2{
        font-size: 30px;
    }

    input{
        width: 50%;
    }

    button{
        width: 20%;
        font-size: 20px;
    }
}




