.result-container{
    width: 90%;
    margin: auto;
    padding: 0.5rem;
}

.msg{
    font-size: 20px;
    font-weight: bold;
}

.imc-result{
    width: 20%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: #EFFE62;
    font-size: 20px;
    font-weight: bold;
}

.info{
    font-size: 20px;
}

@media screen and (max-width: 499px) {
    .result-container{
        width: 100%;
        padding: 0;
    }

    .msg{
        font-family: 16px;
    }

    .imc-result{
        width: 30%;
        font-family: 20px;
    }

    .info{
        font-size: 16px;
    }
}
